:root {
  --transition-duration: 5s;
  --background: rgb(135, 206, 250);
  --bottomBackground: rgb(173, 216, 230);
}

:root[data-theme="sunny"] {
  /* --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace; */
  --background: rgb(135, 206, 250);
  --bottomBackground: rgb(173, 216, 230);
}
:root[data-theme="rainy"] {
  --background: rgb(105, 105, 105);
  --bottomBackground: rgb(169, 169, 169);
}
:root[data-theme="night"] {
  --background: rgb(0, 0, 30);
  --bottomBackground: rgb(51, 102, 153);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb, 255, 255, 255));
  background: linear-gradient(
    to top,
    var(--bottomBackground),
    var(--background)
  );
  transition: background-color 2s ease-in;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
